
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height:170px;
    box-shadow: 0 0 2px 1px rgba(88, 100, 104, 0.5);
    border: 2px solid #555;
    border-radius: 14px;
    background: #5eb5e0;
}
label
{
    display: block;
    width: 210px;
    float: left;
}
legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align : center ;
}

fieldset {
    margin: 0 auto;
    width: 30%;
}

/*
mise en forme ossature template ajout sortie
 */

.containersortie
{
    text-align: center;
    padding: 2px;
}
.left-div
{
    display: inline-block;
    max-width: 640px;
    text-align: left;
    padding: 10px;
    /* background-color: #ddd;*/
    border-radius: 3px;
    margin: 15px;
    vertical-align: top;
}
.left-div1
{
    display: inline-block;
    max-width: 440px;
    text-align: left;
    padding: 10px;
    /* background-color: #ddd;*/
    border-radius: 3px;
    margin: 15px;
    vertical-align: top;
}
.right-div
{
    display: inline-block;
    max-width: 600px;
    text-align: left;
    padding: 10px;
    border-radius: 3px;
    margin: 15px;
}
.right-div1
{
    display: inline-block;
    max-width: 400px;
    text-align: left;
    padding: 10px;
    border-radius: 3px;
    margin: 15px;
}
@media screen and (max-width: 600px)
{
    .left-div, .right-div
    {
        max-width: 100%;
    }
}
.div_sortie_top{
    width: 600px;
    margin:0 auto;
    text-align: center;
    color: #B0413E;
    font-size: 18px;
    font-weight: bold;
}
.div_button
{
    width: 600px;
    border-radius: 3px;
    margin:0 auto;
}

/*
mise en forme ossature template liste sorties
 */


/**********************************************************/
/************** Style dev liste sorties *******************/
/**********************************************************/

/*******************************
            Container
*******************************/


/* All Sizes */
.container {
    display: block;
    max-width: 100% !important;
}

/* Text Container */
.text.container {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    max-width: 700px !important;
    line-height: 1.5;
}
.text.container {
    font-size: 1.14285714rem;
}

/* Fluid */
.fluid.container {
    width: 100%;
}

/* button */
.buttonOuting {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table {
    width: 100%;
    background: #FFFFFF;
    margin: 1em 0em;
    border: 1px solid rgba(34, 36, 38, 0.15);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0.28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    border-collapse: separate;
    border-spacing: 0px;
}

.table:first-child {
    margin-top: 0em;
}
.table:last-child {
    margin-bottom: 0em;
}
.table th,
.table td {
    -webkit-transition: background 0.1s ease, color 0.1s ease;
    transition: background 0.1s ease, color 0.1s ease;
}

/* Headers */
.table thead {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.table thead th {
    cursor: auto;
    background: #F9FAFB;
    text-align: inherit;
    color: rgba(0, 0, 0, 0.87);
    padding: 0.92857143em 0.78571429em;
    vertical-align: inherit;
    font-style: none;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    border-left: none;
}
.table thead tr > th:first-child {
    border-left: none;
}
.table thead tr:first-child > th:first-child {
    border-radius: 0.28571429rem 0em 0em 0em;
}
.table thead tr:first-child > th:last-child {
    border-radius: 0em 0.28571429rem 0em 0em;
}
.table thead tr:first-child > th:only-child {
    border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}

/* Footer */
.table tfoot {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.table tfoot th {
    cursor: auto;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    background: #F9FAFB;
    text-align: inherit;
    color: rgba(0, 0, 0, 0.87);
    padding: 0.78571429em 0.78571429em;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}
.table tfoot tr > th:first-child {
    border-left: none;
}
.table tfoot tr:first-child > th:first-child {
    border-radius: 0em 0em 0em 0.28571429rem;
}
.table tfoot tr:first-child > th:last-child {
    border-radius: 0em 0em 0.28571429rem 0em;
}
.table tfoot tr:first-child > th:only-child {
    border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}

/* Table Row */
.table tr td {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
}
.table tr:first-child td {
    border-top: none;
}

/* Repeated tbody */
.table tbody + tbody tr:first-child td {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
}

/* Table Cells */
.table td {
    padding: 0.78571429em 0.78571429em;
    text-align: inherit;
}

/* Icons */
.table > .icon {
    vertical-align: baseline;
}

/* Table Segment */
.table.segment {
    padding: 0em;
}
.table.segment:after {
    display: none;
}
.table.segment.stacked:after {
    display: block;
}

::selection {
    background-color:#cce2ff;
    color:rgba(0,0,0,.87)
}

/********** Fin Style dev liste sorties ***********************/

.card {
    box-shadow: 0 0 2px 1px rgba(88, 100, 104, 0.5);
    max-width: 250px;
    margin: auto;
    text-align: center;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


header{

}

footer{
    position:relative;
    bottom:0;
}

.form{

}