{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des sorties
{% endblock %}

{% block body %}
    <article class="grid-container">
        <h2>Lists des sorties</h2>
        <div class="grid-x grid-margin-x">
            <div class="grid-x grid-margin-x">
                <div class="medium-12 cell small-order-4 medium-order-1">
                    {% include 'outing/_filter.html.twig' with {form: form} only %}
                </div>
            </div>
        </div>
        <div class="medium-12 cell small-order-2 medium-order-1">
            <nav aria-label="Pagination">
                {# {{ knp_pagination_render(pagination) }} #}

            </nav>

            <div>
                <table class="ui celled table">
                    <tbody>
                    <thead>
                    <th>nom</th>
                    <th>Date de début</th>
                    <th>Date limite d'inscription</th>
                    <th>Organisateur.trice</th>
                    <th>Campus</th>
                    <th>Inscrit.e.s</th>
                    </thead>
                    {% for outing in outings %}
                        {% include 'outing/_outingTable.html.twig' with {outing: outing} only %}
                    {% endfor %}
                    <thead>
                    <th>nom</th>
                    <th>Date de début</th>
                    <th>Date limite d'inscription</th>
                    <th>Organisateur.trice</th>
                    <th>Campus</th>
                    <th>Inscrit.e.s</th>
                    </thead>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </article>
{% endblock %}