<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/style.css') }}"/>
        <link rel="icon" href="{{ asset('img/site/Serendipistes.png') }}" />
        <title>{% block title %}Sortir !{% endblock %}</title>
    </head>
    <body>
    <header>{% include 'menu/nav.html.twig' %}</header>
    <main>{% block body %}{% endblock %}</main>
     <footer>© Les Serendipistes</footer>
    </body>
</html>
